{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block app_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'blog/css/styles.css' %}">


{% endblock app_css %}

{% block header %}
<h1 class="text-center">{{judul}}</h1>
{% endblock header %}

{% block content-1 %}

  <div class="container justify-content-center align-items-center">
    <br>
    <h1 align="center" class="text-dark">Hasil Optimalisasi Perencanaan Kontrak (Solver)</h1>
  </div>
  <div class="container justify-content-center align-items-center mb-sm-1">
    <br>
    <form method="POST" action="resumesolver.html" class="form-inline">
      {% csrf_token %}
      <div class="form-row align-items-center">

        <h4><span class="badge badge-primary">{{checknorun.pltu.nama_pltu}}</span></h4><p>&nbsp;&nbsp;&nbsp;</p>
        <h4><span class="badge badge-success">{{checknorun.waktu}}</span></h4><p>&nbsp;&nbsp;&nbsp;</p>
        {% if querySatuan.status_model == "Optimal" %}
        <h4><span class="badge badge-info">Status Solver: {{querySatuan.status_model}}</span></h4><br>
        {% else %}
        <h4><span class="badge badge-danger">Status Solver: Belum Optimal</span></h4><br>
        {% endif %}
      </div>
</div>
  <div class="container justify-content-center align-items-center">
    {% if querySatuan.status_model == "Optimal" %}
    <h4><label class="my-1 mr-sm-2" for="konfirmasihasil">Konfirmasi :</label>
    <input class="btn btn-primary my-1 ml-sm-1" type="submit" name="konfirmasihasil" value="Next"></input></h4>
    {% endif %}
  </div>
<br>

  <div class="container table-responsive table-wrapper-scroll-y my-custom-scrollbar">
    <table id="tabelgrading" class="tableFixHead text-center table-bordered table-sm mb-0" width="100%">
    <thead class="thead-light">
      <tr class="">
        <th>PEMASOK</th>
        <th>SUMBER TAMBANG</th>
        <th>VOLUME (MT)</th>
        <th>KALORI (kCal)</th>
        <th>SULPHUR (%)</th>
        <th>HARGA (Rp*MT/Cal)</th>
      </tr>
      </thead>
    <tbody>
      {% for i in queryHasil %}
      <tr class="">
        <td>{{i.pemasok.nama_pemasok}}</td>
        <td>{{i.nama_sumber_tambang}}</td>
        <td>{{i.hasilsolver_volume_mt|floatformat:2|intcomma:False}}</td>
        <td>{{i.hasilsolver_kalori_kcal|floatformat:2|intcomma:False}}</td>
        <td>{{i.hasilsolver_ts_persen|floatformat:2|intcomma:False}}</td>
        <td>{{i.hasilsolver_harga_rp_mt_cal|floatformat:2|intcomma:False}}</td>
      </tr>
      {% endfor %}
      <tr>
        <th colspan="2"><label class="my-1 mr-sm-2" for="total">TOTAL </label></th>
        <td>{{querySatuan.total_volume_akhir|floatformat:2|intcomma:False}}</td>
        <td>{{querySatuan.total_kalori_akhir|floatformat:2|intcomma:False}}</td>
        <td>{{querySatuan.total_ts_akhir|floatformat:2|intcomma:False}}</td>
        <td>{{querySatuan.total_harga_akhir|floatformat:2|intcomma:False}}</td>
      </tr>
      <tr>
        <th colspan="2"><label class="my-1 mr-sm-2" for="totalkalortertimbang">NILAi KALOR TERTIMBANG (kCal/kg) </label></th>
        <td>{{querySatuan.nilai_kalor_kcal_kg|floatformat:2|intcomma:False}}</td>
      </tr>
      <tr>
        <th colspan="2"><label class="my-1 mr-sm-2" for="totalsulfur">TOTAL SULFUR (%)</label></th>
        <td>{{querySatuan.total_sulphur_persen|floatformat:2|intcomma:False}}</td>
      </tr>
    </tbody>
  </table>
  </div>
</form>

  <br>
{% endblock content-1 %}
