{% extends "base.html" %}

{% block header %}
<h1 class="display-4">{{judul}}</h1>
{% endblock header %}

{% block content-1 %}
<br>
<div class="container justify-content-center align-items-center" style="padding-left: 60px;">
<script type='text/javascript' src='https://tableau.indonesiapower.co.id/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 1035px; height: 827px;'><object class='tableauViz' width='1035' height='827' style='display:none;'><param name='host_url' value='https%3A%2F%2Ftableau.indonesiapower.co.id%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='DashboardMonitoringEnergiPrimer&#47;DashGCV-TM-TS' /><param name='tabs' value='yes' /><param name='toolbar' value='yes' /><param name='showAppBanner' value='false' /></object></div>
</div>
<br>
{% endblock content-1 %}

{% block content-2 %}
<div class="container justify-content-center align-items-center" style="padding-left: 60px;">
<script type='text/javascript' src='https://tableau.indonesiapower.co.id/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 1035px; height: 827px;'><object class='tableauViz' width='1035' height='827' style='display:none;'><param name='host_url' value='https%3A%2F%2Ftableau.indonesiapower.co.id%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='DashboardMonitoringEnergiPrimer&#47;DashNilaiAkhir' /><param name='tabs' value='yes' /><param name='toolbar' value='yes' /><param name='showAppBanner' value='false' /></object></div>
</div>
<br>
{% endblock content-2 %}

{% block content-3 %}
<div class="container justify-content-center align-items-center" style="padding-left: 60px;">
<script type='text/javascript' src='https://tableau.indonesiapower.co.id/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 1035px; height: 827px;'><object class='tableauViz' width='1035' height='827' style='display:none;'><param name='host_url' value='https%3A%2F%2Ftableau.indonesiapower.co.id%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='DashboardMonitoringEnergiPrimer&#47;DashASH-HGI-IDT' /><param name='tabs' value='yes' /><param name='toolbar' value='yes' /><param name='showAppBanner' value='false' /></object></div>
</div>
<br>
{% endblock content-3 %}

{% block content-4 %}
<div class="container justify-content-center align-items-center" style="padding-left: 60px;">
<script type='text/javascript' src='https://tableau.indonesiapower.co.id/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 1035px; height: 827px;'><object class='tableauViz' width='1035' height='827' style='display:none;'><param name='host_url' value='https%3A%2F%2Ftableau.indonesiapower.co.id%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='DashboardMonitoringEnergiPrimer&#47;DashVol' /><param name='tabs' value='yes' /><param name='toolbar' value='yes' /><param name='showAppBanner' value='false' /></object></div>
<br>
{% endblock content-4 %}